@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f6f3f4;
  color: #1b1b1c;
}

code,
pre,
.mono {
  font-family: "IBM Plex Mono", monospace;
}